{{ template "partials/header" .}}
<h1>Add Product</h1>
<div>
  <form method="post" action="create" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Nama</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" autofocus />
    </div>
    <div class="mb-3">
      <label for="qty" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="quantity" name="quantity" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Image</label>
      <input type="file" class="form-control" id="price" name="image" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/product" class="btn btn-warning">Back</a>
    </div>
  </form>
</div>
{{ template "partials/footer" .}}